@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

@*<p>Use this area to provide additional information.</p>*@

<br />
<h4>
    <p>Possuimos profissionais treinados na área de Desenvolvimento e Análise de Sistemas Cliente/Servidor, Sistema de Banco de Dados Para Internet, WebSites e Assistência Técnica.</p>
    <p>Rafa´s uma Empresa conceituada e capacitada para fornecer a melhor solução e assessoria em informática para sua empresa com um vasto conhecimento adquirido.</p>
    <p>Temos como missão proporcionar aos nossos clientes soluções ágeis, organizadas e objetivas, gerando ganhos e resultados garantidos.</p>
    <p>Através da constante atualização tecnológica a Rafa´s cria condições para oferecer à sua empresa a mesma qualidade de serviços exigida por empresas de grande porte a preços competitivos.</p>
    <br/>
    <br />
    <p>NOSSA MISSÃO</p>
    <p>Seus Problemas ou Necessidades em informática tornam-se nosso Problema!</p>
    <p>Entre em contato conosco, teremos um grande prazer em atende-los.</p>
    <p>Telefones: (16) 3724-4495 / (16) 99303-9967</p>
    <p>SOLICITE UM ORÇAMENTO</p>
</h4>