@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@


<address>
    <h3>
        <p>Rafa´s Soluções em Informática</p>
        <p>R: Abrão Bittar 1971 Santa Luzia</p>
        <p>Franca SP CEP: 14405-311</p>
        <p>Telefone: (16) 99303-9967</p>
    </h3>
</address>

<br />
<address>
    <strong>Support:</strong>   <a href="rafael.lima@bettatecnologia.com.br">rafael.lima@bettatecnologia.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:rafael.lima@bettatecnologia.com.br">rafael.lima@bettatecnologia.com.br</a>
</address>