
@{
    ViewBag.Title = "Inicial";
}


<div class="modal-header" style="background-color:#2980b9">
    <h1 style="color:aliceblue; text-align:center">Junk Yard - KADU</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <p></p>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p style="text-align:center"><a class="btn btn-group-justified btn-lg btn-primary" href="/Caixa/Index" style="padding-top:40px; padding-bottom:40px; font-size:x-large;">Lançamento &raquo;</a></p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p style="text-align:center"><a class="btn btn-group-justified btn-lg btn-primary" href="/Cliente/Index" style="padding-top:40px; padding-bottom:40px; font-size:x-large;">Clientes &raquo;</a></p>
    </div>
    <p></p>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p style="text-align:center"><a class="btn btn-group-justified btn-lg btn-primary" href="/Material/Index" style="padding-top:40px; padding-bottom:40px; font-size:x-large;">Materiais &raquo;</a></p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p style="text-align:center"><a class="btn btn-group-justified btn-lg btn-primary" href="/Telefone/Index" style="padding-top:40px; padding-bottom:40px; font-size:x-large;">Telefones &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p style="text-align:center"><a class="btn btn-group-justified btn-lg btn-primary" href="/Caixa/Baixa" style="padding-top:40px; padding-bottom:40px; font-size:x-large;">Caixa &raquo;</a></p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p style="text-align:center"><a class="btn btn-group-justified btn-lg btn-primary" href="/Home/Contact" style="padding-top:10px; padding-bottom:10px; font-size:x-large;">Contatos &raquo;</a></p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p style="text-align:center"><a class="btn btn-group-justified btn-lg btn-primary" href="/Home/About" style="padding-top:10px; padding-bottom:10px; font-size:x-large;">Sobre &raquo;</a></p>
    </div>
</div>

@*<div>
        <p>Você não está Logado no sistema, por favor, faça o log in, no caso de novo usuário, registre-se</p>
    </div>*@
